/* * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  display: flex;
  background-image: linear-gradient(white,#e9ecef 60%,#e3e7eb);
  background-repeat: no-repeat;
  padding: 10px;
}

nav a {
  display: block;
  color: #2fa4e7;
  text-decoration: none;
  background-color: transparent;
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
  padding: 10px 20px;


} */
